html, body {
    margin: 0;
    background: #000;
    color: #ccc;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button, rx-button {
    user-select: none;
    cursor: pointer;
    transition: transform 0.1s ease, filter 0.1s ease;
}

button:active, rx-button:active {
    transform: scale(0.96);
    filter: brightness(1.3);
}
